body{
	margin: 0;
	padding: 0;
}
#external{
	width: 50rem;
	height: 37.5rem;
	background-color: darkorange;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: center;
	justify-content: space-around;
}
#internal{
	width: 37.5rem;
	height: 25rem;
	background-color: deeppink;
	text-align: center;
}
#date{
	font-size: 2.5rem;
	background-color: aqua;
	
}
#date:hover{
	box-shadow: mediumslateblue 0.625rem 0.625rem;
	border-radius: 0.625rem;
}
